body {
	font-family: Arial, sans-serif;
	background-color: lightyellow;
	color: brown;
	margin: 0;
}
header {
	background-color: orange;
	color: black;
	padding: 15px;
	text-align: center;
}
header h1 {
	margin: 0;
	font-size: 2.5em;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 10px 0 0;
}
nav ul li {
	display: inline-block;
	margin: 0 15px;
}
nav ul li a {
	color: lightyellow;
	text-decoration: none;
	font-size: 1.2em;
}
nav ul li a: hover {
	color: coral;
}
main {
	padding: 20px;
	text-align: center;
}
main h2 {
	color: brown;
	font-size: 2em;
	margin-top: 0;
}
main p {
	font-size: 1.2em;
}
footer {
	background-color: orange;
	color: lightyellow;
	text-align: center;
	padding: 4px 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}